<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plein">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Liste des films</h4>
                      
                   
                                        <ul>
                                        
                                            <li>{{ dataSource.Title }}</li>
                                            <li>{{ dataSource.Year }}</li>
                                        
                                            <li><a class="btn-new" routerLink="/detail/1" >Editer</a></li>
                                       
                                          
                                        </ul>
                                
                           
                      
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
