<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plein">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Liste des films</h4>
                      
                   
                                        <ul>
                                            <li>
                                                <a routerLink="/detail/{{dataSource.Title}}" class="btn-new"><img src="{{dataSource.Poster}}" alt=""></a>
                                                <div>{{dataSource.Title}}</div>
                                                <div>{{dataSource.Year}}</div>
                                            </li>
                                          
                                        </ul>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
